Flask>=2.3.3
flask-cors>=4.0.0
numpy>=1.26.4
opencv-python>=4.10.0.84
requests>=2.32.3
scikit-image>=0.24.0
scipy>=1.13.1

torch>=2.5.1
torchvision>=0.20.0
ultralytics>=8.3.0
timm>=1.0.0

Pillow>=11.1.0
Werkzeug>=2.3.7
